header {
  background-size: auto;
  background-position: center;
  width: 100%;
  height: 60vh;
  /* border: solid 1px red; */
  background-image: url('../img/portada.jpg')
}

.custom-navbar {
  /* border: solid 1px red; */
}

.conetendorLogoNav {
  /* border: solid 1px blue; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15%;
  height: 50px;
}

.img_logoNav {
  width: 4.8em;
  height: auto;
  display: none;
}

.link-nav {
  /* border: solid 1px blue; */
  margin-left: 4vw;
  width: auto !important;
}

.listanav a {
  text-decoration: none;
  /* border: solid 1px red; */
  color: #000;
  font-family: 'Montserrat', sans-serif;
  transition: all 0.1s ease-out;
}

.listanav a:hover {
  border-bottom: #8A0736 2px solid;
  font-size: 101%;
}

i {
  color: #8A0736;
}

.hero{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: hsla(0, 0%, 100%, 0.7);
  width: 60%;
}

.hero img{
  width: 300px;
}
/* ----------navbar responsive toggler------------ */

.dot, .dot:before, .dot:after {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 20px;
  background-color: #3a3c3e;
}

.dot {
  /* top: 50%;
  left: 50%; */
  margin-top: -10px;
  margin-left: -10px;
}

.dot:before, .dot:after {
  content: "";
}

.dot:before {
  right: 15px;
  transition: right .3s ease-out;
}

.dot:after {
  left: 15px;
  transition: left .3s ease-out;
}

.dots:hover .dot:before {
  right: -15px;
}

.dots:hover .dot:after {
  left: -15px;
}

button {
  border: none !important;
  color: transparent !important;
  -webkit-appearance: listbox !important;
}

/* --------fin toggler-------------*/

.contenedorSeccion {
  padding: 7em 0;
  height: 100%;
  display: flex;
  align-items: center;
}

/* --------------- fin header ---------------------------- */

/* --------------- areas de servicio ---------------------------- */

.areas_de_servicio {
  /* border: solid 1px yellowgreen; */
  width: 100%;
  height: 100px;
  margin-top: 30px;
  display: flex;
  justify-content: flex-end;
}

.titulo_areas_servicio {
  /* border: solid 1px rgb(76, 50, 205); */
  width: 60vw;
  height: 100%;
}

.titulo_areas_servicio > p {
 font-size: 0;
}


.areas_de_servicio_contenido {
  /* border: solid 1px blue; */
  width: 100%;
  height: auto;
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.aServicioFoto {
  /* border: solid 1px orangered; */
  width: 55%;
  height: 35em;
  background-image: url('../img/aServicio.jpg');
  background-size: cover;
  background-position: center;
}

.decorationWhiteRects {
  /* border: solid 1px olivedrab; */
  width: 45%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-top: -1em;
}

.whiteDecorationRect {
  /* border: solid 1px red; */
  width: 80%;
  height: 30px;
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  display: flex;
  margin-top: 2em;
  font-size: 20px;
  transition: 1s all ease;
}

.whiteDecorationRectIn {
  /* border: solid 1px red; */
  background-color: #f1f2f2;
  width: 20%;
  height: 35px;
}

.whiteDecorationRectIn p {
  /* border: solid 1px red; */
  background-color: #f1f2f2;
  width: 20%;
  height: 35px;
}

.whiteDecorationRect:hover {
  background-color: #f1f2f2;
  width: 100%;
  height: 45px;
  font-size: 20px;
}

.whiteDecorationRect a {
  margin-left: -20px;
  color: black;
  text-decoration: none;
  margin-top: 0.6em !important;
}

/* -------seccion boletines------------- */

/* -------seccion boletines------------- */

.seccion_boletines {
  /* border: solid 1px rgb(255, 0, 191); */
  width: 45vw;
  margin-top: 30px;
  height: 10em;
  background-image: url('../img/boletines.png');
  background-size: cover;
  background-position: left;
}

/* -------seccion mapa------------- */

.mapa {
  margin: 2em 0;
  /* border: solid 1px rgb(106, 255, 0); */
  width: 100%;
  height: 400px;
}

/* -------termina main------------- */

/* -------sempieza footer------------- */

.footer {
  /* border: solid 1px rgb(255, 183, 0); */
  /* margin-top: 40px !important; */
  width: 100%;
  height: auto;
  margin-top: -2em !important;
}

.seccion1 {
  /* border: solid 1px rgb(0, 145, 255); */
  padding-top: 1em !important;
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  color: rgb(55, 54, 54);
  background-color: #f1f2f2;
  padding: 0 0.8em;
  text-align: center;
}

.hrFooter {
  background-color: #8A0736;
  height: 1px;
  width: 55vw;
}

.contactoUser {
  color: #000;
  margin-bottom: 1em;
}

.contactoUser:hover {
  color: #8A0736;
}

.seccion2 {
  /* border: solid 1px greenyellow; */
  width: 100%;
  height: 20%;
  display: grid;
  grid-template-columns: 1fr 20vw 1fr;
  font-family: 'Montserrat', sans-serif;
  color: rgb(55, 54, 54)
}

.seccion2 p {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.5em;
}

.seccion2 a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(55, 54, 54);
}

a.avisoPrivacidad {
  transition: all ease 0.1s;
  text-decoration: none;
}

a.avisoPrivacidad:hover {
  border-bottom: solid 2px #8A0736;
  font-size: 108%;
}

.logo_soma {
  /* border: solid 2px #7d1c57; */
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, 25%);
}

.designed {
  width: 100%;
  height: 50%;
  grid-column-start: 3;
  grid-row-start: 2;
  font-size: 80%;
}

.imgLogoSoma {
  width: 100%;
  height: 50%;
  grid-column-start: 4;
  grid-row-start: 2;
}

.map {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
}

@media only screen and (max-width: 600px) {
  /*--------navbar--------------------------- */
  header {
    background-image: url('../img/portada_res.png');
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 35vh;
    /* border: solid 1px red; */
  }
  .link-nav {
    /* border: solid 1px blue; */
    margin-left: 0;
  }
  .conetendorLogoNav img {
    display: initial !important;
    opacity: 1 !important;
  }
  .img_logoNav {
    width: 4.8em;
    height: auto;
    display: initial !important;
    padding-left: 0.6em;
  }
  .contenedorSeccion {
    display: none;
  }
  /* ------termina navbar-------- */
  .titulo_areas_servicio {
    /* border: solid 1px rgb(76, 50, 205); */
    width: 100%;
    height: 60%;
    background-color: #f1f2f2;
  }

  .titulo_areas_servicio > img {
    display: none;
  }

  .titulo_areas_servicio > p {
    /* display: initial; */
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding-top: 3%;
    color: #000;
    border-bottom: solid 2px #8A0736;
  }
  
  
  .aServicioFoto {
    display: none;
  }
  .areas_de_servicio_contenido {
    /* border: solid 1px blue; */
    width: 100%;
    height: auto;
    margin-top: -2.5em !important;
    display: flex;
    justify-content: center;
  }
  .decorationWhiteRects {
    /* border: solid 1px olivedrab; */
    width: 85%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .whiteDecorationRect {
    /* border: solid 1px red; */
    width: 100%;
    height: auto;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    display: flex;
    margin-top: 1.8em;
    background-color: #f1f2f2;
  }
  .whiteDecorationRect a {
    margin-left: -20px;
    color: black;
    text-decoration: none;
    font-size: 0.8em;
  }
  .whiteDecorationRect:hover {
    color: transparent;
    height: 60px;
  }
  .seccion_boletines {
    /* border: solid 1px rgb(255, 0, 191); */
    width: 65%;
    margin-top: 2em;
    height: 4em;
    background-image: url('../img/boletines_res.png');
    background-size: inherit;
    background-position: center;
  }
  .seccion2 {
    /* border: solid 1px blue; */
    margin-top: 20px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: space-around;
    font-family: 'Montserrat', sans-serif;
    color: rgb(55, 54, 54)
  }
  .logo_soma {
    /* border: solid 2px #7d1c57; */
    display: flex;
    /* grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, 25%); */
    align-items: flex-end;
  }
  .designed {
    width: 100%;
    height: 50%;
    font-size: 80%;
    margin-top: 20px;
    padding-left: 30%;
  }
  .imgLogoSoma {
    /* border: solid 1px orangered; */
    width: 30%;
    height: 35%;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .listanav a {
    text-decoration: none;
    /* border: solid 1px red; */
    color: #000;
    font-family: 'Montserrat', sans-serif;
    transition: all 0.1s ease-out;
    /* padding-left: 60% !important; */
  }
  .contenedorSeccion {
    /* border: 1px solid yellow; */
    width: 68%;
    height: 9em;
    /* background-color: #ffffffbf; */
    padding-left: 2em;
    display: flex;
    align-items: center;
    padding-top: 12em;
  }
  .link-nav {
    /* border: solid 1px blue; */
    margin-left: 5vw;
  }
  .titulo_areas_servicio {
    /* border: solid 1px rgb(76, 50, 205); */
    width: 100%;
    height: 100%;
  }
  .aServicioFoto {
    /* border: solid 1px orangered; */
    width: 55%;
    height: auto;
    background-image: url('../img/aServicio.jpg');
    background-size: cover;
    background-position: center;
  }
  .whiteDecorationRect {
    /* border: solid 1px red; */
    width: 80%;
    height: auto;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    display: flex;
    margin-top: 1.5em;
    background-color: #f1f2f2;
    font-size: 20px;
  }
  .whiteDecorationRectIn {
    /* border: solid 1px red; */
    background-color: #f1f2f2;
    width: 20%;
    height: 35px;
  }
  .seccion_boletines {
    /* border: solid 1px rgb(255, 0, 191); */
    width: 65vw;
    margin-top: 30px;
    height: 10em;
    background-image: url('../img/boletines.png');
    background-size: cover;
    background-position: left;
  }
  .logo_soma {
    /* border: solid 2px #7d1c57; */
    display: flex;
    /* grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 25%); */
    align-items: flex-end;
  }
  .designed {
    width: 100%;
    height: 50%;
    font-size: 80%;
    margin-top: 20px;
  }
  .imgLogoSoma {
    /* border: solid 1px orangered; */
    width: 30%;
    height: 30%;
  }
}